<div class="footer scroll-animate fade-up">
    <div class="footer-container">
        <div class="footer-links">
            <div class="links">
                <i class="fa-brands fa-github"></i>
                <a href="https://github.com/Iaryanyadav/" target="_blank" rel="noopener">GitHub</a>
            </div>
            <div class="links">
                <i class="fa-brands fa-linkedin"></i>
                <a href="https://www.linkedin.com/in/aryany-adav/" target="_blank" rel="noopener">LinkedIn</a>
            </div>
            <div class="links">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:aryanrao.tech@gmail.com">Email</a>
            </div>
        </div>
        <p><i class="fa-regular fa-copyright"></i> 2026 Workofolio. All rights reserved.</p>
    </div>
</div>
